<h1>Welcome to Cirkle!</h1>

<% if current_user %>
	<%= link_to 'Log Out', logout_path %>
	<h3>Hi, <%= current_user.username %></h3>
<% else %>
	<%= link_to 'Login', login_path %>
	<%= link_to 'Register', signup_path %>
<% end %>